<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= simple_form_for [@profile, concept], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
        <%= f.error_notification %>
        <%= f.input :type, collection: Vocabulary::Concept::TYPES, include_blank: false %>

        <%= f.input :current_state, 
          as: :radio_buttons, 
          collection: Vocabulary::State::TYPES, 
          selected: f.object.current_state
        %>

        <div class="row mb-4 labels">
          <%= f.simple_fields_for :labels do |l| %>
            <%= render 'label_fields', f: l %>
          <% end %>
        </div>
        <%= link_to_add_association icon('fas', 'plus', 'Label'), f, :labels, data: {"association-insertion-node": "div.labels", "association-insertion-method": "append"}, class: 'btn btn-secondary btn-sm' %>

        <div class="row mb-4 relationships">
          <%= f.simple_fields_for :relationships do |r| %>
            <%= render 'relationship_fields', f: r %>
          <% end %>
        </div>
        <%= link_to_add_association icon('fas', 'plus', 'Relationship'), f, :relationships, data: {"association-insertion-node": "div.relationships", "association-insertion-method": "append"}, class: 'btn btn-secondary btn-sm' %>

        <div class="row mb-4 notes">
          <%= f.simple_fields_for :notes do |n| %>
            <%= render 'note_fields', f: n %>
          <% end %>
        </div>
        <%= link_to_add_association icon('fas', 'plus', 'Note'), f, :notes, data: {"association-insertion-node": "div.notes", "association-insertion-method": "append"}, class: 'btn btn-secondary btn-sm' %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>