<main role="main">
  <div class="page-header" style="margin-top:0px;">
    <h3 style="margin-top:0px;">
      Organizations
    </h3>
    <p class="text-gray">Applys and memberships for organizations.</p>
  </div>
  <%= content_tag :div, id: 'applied_organizations' do %>
    <table class="table table-simple">
      <thead>
      <tr>
        <th style="width:60%;">Team awaiting confirmation</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @applied_organizations.each do |organization| %>
        <% applyment = organization.memberships.find_by(user: current_user) %>
        <tr>
          <td>
            <p class="text-strong"><%= link_to organization.name, organization.profile %></p>
            <%= content_tag :p, class: 'text-muted text-small' do %>
              <%= "Current admins: #{organization.admins.map(&:name).join(', ')}" %><br>
              <%= "Created at: #{organization.created_at.to_date.to_formatted_s(:long)}" %>
            <% end %>
          </td>
          <td>
            <%= content_tag :p, link_to('Leave', settings_organization_membership_path(organization, applyment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-sm float-right') if policy([:settings, applyment]).destroy? %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end if @applied_organizations.any? %>

  <%= content_tag :div, id: 'approved_organizations' do %>
    <table class="table table-simple">
      <thead>
      <tr>
        <th style="width:60%;">Team</th>
        <th>Your role</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @approved_organizations.each do |organization| %>
        <% membership = organization.memberships.find_by(user: current_user) %>
        <tr>
          <td>
            <p class="text-strong"><%= link_to "#{organization.namespace}", organization.profile %></p>
            <%= content_tag :p, truncate(organization.about, length: 200), class: 'text-small' if organization.about.present? %>
            <%= content_tag :p, class: 'text-muted text-small' do %>
              <%= "Admins: #{organization.admins.map(&:name).join(', ')}" %><br>
              <%= "Created at: #{organization.created_at.to_date.to_formatted_s(:long)}" %>
            <% end %>
          </td>
          <td>
            <%= content_tag :p, class: 'text-muted text-small' do %>
              <%= content_tag :span, "#{membership.role}", class: 'text-strong' %><br>
              <%= "Since: #{membership.updated_at.to_date.to_formatted_s(:long)}" %>
            <% end %>
          </td>
          <td>
            <%= content_tag :p, link_to('Leave', settings_organization_membership_path(organization, membership), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-sm') if policy([:settings, membership]).destroy? %>
            <p><%= link_to 'Edit', edit_settings_organization_path(organization), class: 'btn btn-secondary btn-sm' if policy([:settings, organization]).update? %></p>
            <p><%= link_to 'Remove', [:settings, organization], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if policy([:settings, organization]).destroy? %></p>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end if @approved_organizations.any? %>

  <%= content_tag :div do %>
    <div class="alert alert-light mt-4" role="alert">
      <h4 class="alert-heading">Nothing found!</h4>
      <p>You are not a member of any group or did not apply to one.</p>
      <hr>
      <p class="mb-0">You can try <%= link_to 'create your own', setup_organizations_path, method: :post %> or <%= link_to 'choose one', organizations_path %> to apply to.</p>
    </div>
  <% end unless @organizations.any? %>
</main>