<div class="">
  <h2>
    Registered users
  </h2>
  <p class="text-gray">Users listed here are registered and have the ability to read everything. Admins may assign other users a new role.</p>
</div>

<table class="table table-simple">
  <thead>
    <tr>
      <th style="vertical-align:top;">Email</th>
      <th></th>
	    <th style="vertical-align:top;">Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= content_tag :tr, id: "edit_user_#{user.id}" do %>
        <td>
          <%= user.email %><br>
          <%= content_tag :span, 'Email bestätigt', class: 'text-success' if user.confirmed? %>
          <%= content_tag :span, 'Noch nicht bestätigt', class: 'text-warning text-strong' if !user.confirmed? %>
        </td>
        <%= content_tag :td, width: '30%' do %>
          <%= form_for user, url: approve_settings_user_path(user), id: "approve_user_#{user.id}", class: 'approve_user' do |f| %>
            <%= f.submit 'Approve!', class: 'btn btn-sm btn-primary' %>
          <% end unless user.approved? %>
        <% end %>
        <%= content_tag :td do %>
          <%= form_for user, url: make_admin_settings_user_path(user), remote: true, id: "make_admin_user_#{user.id}", class: 'make_admin_user' do |f| %>
            <%= f.check_box :admin, input_html: { onchange: "$(this.form).submit();", id: "user_is_admin_#{user.id}" } %>
            <%= f.submit 'Update', class: 'btn btn-sm btn-warning' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>