<div class="border-bottom mb-4">
  <h2 style="margin-top:0px;">
    Security dashboard
  </h2>
  <p class="text-muted">Security issues concerning your account.</p>
</div>

<div id="sessions" class="mb-4">
  <h3>Sessions</h3>
  <p class="text-muted">This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.</p>
  <table class="table table-borderless">
    <tbody>
      <% @recent_sessions.each do |recent_session| %>
        <%= content_tag :tr, id: "session_id_#{recent_session.id}", class: 'border-bottom' do %>
          <td class="position-relative">
            <%= content_tag :span, '', class: "float-left mt-2 rounded-circle#{' bg-success' if recent_session.session_id == session[:auth_id]}", style: 'width:8px;height:8px;' %>
            <%= content_tag :span, icon('fas', "#{recent_session.device} fa-2x"), class: 'float-left text-secondary text-center', style: 'margin-left:10px; margin-top:1px;width:32px;' %>
            <div style="margin-left:70px;">
              <strong class="d-block"><%= recent_session.ip %></strong>
              <small class="text-muted">
                <% if recent_session.session_id == session[:auth_id] %>
                  Your current session
                <% else %>
                  Last accessed on <%= recent_session.updated_at %>
                <% end %>
              </small>
              <div class="pt-3 text-smaller">
                <p>
                  <strong><%= recent_session.agent.name %></strong> on <%= recent_session.agent.platform.name %><br>
                  <strong>Signed in:</strong><br>
                  <%= recent_session.created_at %>
                </p>
              </div>
            </div>
          </td>
          <td class="session-actions">
            <%= form_for recent_session, url: settings_security_user_session_path(recent_session), method: :delete, remote: true do |f| %>
              <%= f.submit 'Revoke', class: 'btn btn-sm btn-outline-secondary float-right' %>
            <% end unless recent_session.session_id == session[:auth_id] %>
          </td>
        <% end %>
      <% end if @recent_sessions %>
    </tbody>
  </table>
</div>

<div id="audit" class="mb-4">
  <h3>Security audit</h3>
  <p class="text-muted">This is a security log of important events involving your account.</p>

  <table class="table table-bordered" id="security-history">
    <tbody>
      <% @vital_activities.each do |activity| %>
        <%= content_tag :tr do %>
          <%= content_tag :td do %>
            <span class="text-strong"><%= activity.key %></span>
            <span class="text-muted">
              &ndash;
              <% activity.parameters.each do |k,v| %>
                <%= k %>: <%= v %>
              <% end %>
            </span>
            <span class="float-right"><%= time_ago_in_words(activity.created_at) %> ago</span>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>