<div class="container mt-4">
  <%= render 'organization_steps', step: 'membership' %>
  <p class="text-muted">You can find your new team at <code>/<%= link_to @organization.profile.slug, @organization.profile %></code></p>
  <h4>Invite users to your team</h4>
  <div class="row">
    <%= form_with model: [:setup, @organization], url: wizard_path, method: :put, local: true do |f| %>
      <div class="col-md-12">
        <div class="mb-4">
          <%= f.fields_for :memberships, @organization.memberships.build(user: current_user, approver: current_user, approved_at: Time.now, role: 'Admin', active: true) do |m| %>
            <%= render 'membership_fields', f: m %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add member', f, :memberships, class: 'btn btn-outline-info btn-sm' %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Invite members", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>