  <%= f.input :name, hint: 'Your full name which will be displayed.' %>
  <%= f.input :location, hint: 'Your main location.' %>
  <%= f.input :url, hint: 'A profile page where you present your work, like a institutions web contact page.' %>
  <%= f.input :about, hint: 'A short bio.' %>
  <div class="d-inline-flex my-3">
    <%= image_tag @profile.avatar_url(:thumb), width: '65', height: '65', class: 'shadow-sm rounded mr-3' if @profile.avatar.present? %>
    <%= f.hidden_field :avatar, value: @profile.cached_avatar_data %>
    <%= f.input :avatar, as: :file %>
  </div>