<h2>Your public profile</h2>
<p>Edit your profile settings.</p>

<%= simple_form_for [:settings, @profile], url: settings_profile_path, method: :put do |f| %>
  <%= f.hidden_field :owner %>
  <%= f.error_notification %>

  <div class="form-group mb-4">
    <%= f.input :namespace, hint: "Current profile address #{content_tag :code, link_to('/' + @profile.slug, profile_path(@profile))} <br>A namespace is a short memorizeable name of your profile. It should not change, or external links to your data may be broken.".html_safe %>
  </div>
  <%= render 'form_fields', f: f %>

  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>